In [22]:
import pandas as pd
import numpy as np 
import yfinance as yf

In [65]:
# define the script
tickersymbol = "APPL"
tickerdata = yf.Ticker(tickersymbol)
tickerdata

yfinance.Ticker object <APPL>

In [66]:
# tickerdata.info

In [67]:
tickerdf =tickerdata.history("1d", start="2010-01-01", end="2020-01-01")
tickerdf.head()

APPL: Period '1d' is invalid, must be one of ['1mo', '3mo', '6mo', 'ytd', '1y', '2y', '5y', '10y', 'max']

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [68]:
tickerdf.shape

(0, 6)

In [69]:
tickerdf['Close'].iloc[-1:]

Series([], Name: Close, dtype: float64)

In [70]:
tickerdf.describe()

       Open  High  Low  Close  Adj Close  Volume
count   0.0   0.0  0.0    0.0        0.0     0.0
mean    NaN   NaN  NaN    NaN        NaN     NaN
std     NaN   NaN  NaN    NaN        NaN     NaN
min     NaN   NaN  NaN    NaN        NaN     NaN
25%     NaN   NaN  NaN    NaN        NaN     NaN
50%     NaN   NaN  NaN    NaN        NaN     NaN
75%     NaN   NaN  NaN    NaN        NaN     NaN
max     NaN   NaN  NaN    NaN        NaN     NaN